<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="netix.galeri.com.stajyurdumobil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ANASAYFA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ILANLAR" />
        <activity android:name=".FIRMALAR" />
        <activity android:name=".ADAYLAR" />
        <activity android:name=".ILETISIM" />
        <activity android:name=".HARITA" />
        <activity android:name=".HAKKIMIZDA" />
        <activity android:name=".KULLANICI" />
        <activity android:name=".GIZLILIK" />
        <activity android:name=".GIRIS" />
        <activity android:name=".KAYIT" />
        <activity android:name=".FIRMAGIRIS" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GIRISPANEL" />
        <activity android:name=".FIRMAGIRISPANEL"></activity>
    </application>

</manifest>